
* {
  margin: 0;
  padding: 0;

  /* check */
  box-sizing: border-box;
}



body {
  line-height: 1.5;
  background-image: url("https://i.imgur.com/rwpmJDx.jpg");
  background-size: cover;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   /* width: 90vw;
  margin: 0 auto; */
  
}

.contentBarnav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #414141;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.contentBarnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.contentBarnav a:hover {

  color: white;
}

.contentBarnav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

span{
font-size:30px;cursor:pointer
}


.top {
  overflow: hidden;
  background-image: url("https://i.imgur.com/JyoA8yv.jpg");
  background-size: cover;
  background-color: white;
  padding: 10px 20px;

  
}

.top a {
  float: left;
  color:#414141 ;
  text-align: center;
  padding: 19px;
  text-decoration: none;
  font-size: 18px; 
  
  
  font-weight: bold;
}



/* .logo {
  position: relative;
  left: 1000px;
  width: 100%;
  display: inline;
  position: relative;

  margin-left: center;
  margin-right: auto;
  
  align-self: center;
  
  top: -10px;
  padding-left: 9px;
  padding-top: -150px;
} */

.logo{
  /* display: flex;
  justify-content: center; */
 
  /* display: inline-block;
  position:absolute; */
  
  width: 100vh;
  display: inline-block;
  
  
}

#logomove{
  /* position:absolute; */
  text-align: center;
  /* display: block; */
}

.loginpiclogo{
  
  width: 75px;
  
  
  
  
  
}

.top a:hover {
  background-color: lightblue;
  color: black;
}

.top a.active {
  background-color:lightgoldenrodyellow;
  color: white;
}

.topRight {
  position:absolute;
   top:0;
   right:0;
  
}

.threeline{
  float: left;
}





/* Customization page */
.m-header {
  padding: 2%;
}
.mh-title {
  font-size: 20;
  font-weight: 700;
}
.picture-switcher {
  position: relative;
  padding: 0 3px; 
}
.pic {
  display: table-cell;
  width: 50px;
  height: 50px;
  margin: 0 1px;
  cursor: pointer;
  background-color: rgb(238, 234, 227);
  border: solid 1px black;
}
#pfp {
   padding: 10px; padding-top:0px;
  width: 200px;
  height: 200px;
}


.bg-switcher {
  position: relative;
  padding: 0 3px;
  
}
.bg {
  display: table-cell;
  width: 50px;
  height: 50px;
  margin: 0 1px;
  cursor: pointer;
  border: solid 1px black;
}
.bg0 {
  background-color: lightgray;
}
.bg1 {
  background-color: #8EACD0;
  
  
}
.bg2 {
  background-color: #FF9F9F;
}
.bg3 {
  background-color: #D9E400;
}
.remove {
  display: table-cell;
  width: 100px;
  height: 50px;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  padding: 0 3px;
  background-color: rgb(238, 234, 227);
  border: solid 1px black;
}

#profilepic{
  height: 50px;
  width: 50px;
  position: relative;
}

/* Create Journal */

#Reflectiontitle, #Keypoints{
  width: 400px;
  margin-bottom:5px;
  margin-top: 5px;
  position: center;
  
  
}


.colorBox{
  background-color: pink;
  height: 5%;

}

#red{
margin-left: 4.9%;
}

/* Settings */

.save{
  background-color: #414141;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;

}

.save:hover{
  background-color: #FFD075;
  border: #DE9E57;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  
}
/* 
.save:hover{
  opacity: 1;
  border: #414141;
} */

#createj{
  
  padding: 24px;

  text-align: left;
  display: inline-block;

}

#createj{
  padding-left: 7%;


}



/* TEXT */
textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  
  color: #999999;
}

input, textarea{
  background: transparent ;
  border-color: rgba(128,128,128,0);


}

#Reflectiontitle, #journalentry, #Keypoints, #authornote{
  width: 90%;
  /* margin-top: -10%; */
}


#Reflectiontitle{

 
  
  font-family: Arial, Helvetica, sans-serif;

  color: #999999;
  text-decoration: underline;
  font-size: 30px;
  


  
}

#Keypoints{
  resize: none;
  font-family: Arial, Helvetica, sans-serif;

  color: #999999;
  text-decoration: underline;
  font-size: 15px;


}

#inputs{
  position: absolute;
  /* width: 100%; */
  padding-left: 15%;

}



/* COVERS */
#bookcover{
  display: flex;
  /* top: 0; */
  margin-top: -50px;
  height: auto;

  
  
}

#column{
  display: flex;
  flex: 100%;
  padding: 5px;
}


#covers {
  position:left;
    
  top:0;
  right:100px;

  /* width: 500px;
  height: 727px; */
  height: 70vh; 

  min-width: 50%;

  border-color: white;
 border-style: solid;
 border-radius: 25px;
 border-width: 5px;
}





#paper {
  position:right;
    top:0;
    left: 50px;
  
    /* width: 500px;
     height: 727px; */
     height: 70vh; 

    min-width: 50%;
  
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
  
}







#imgopt{
  height: 15vh;
  
}

.chck{
  display: block;
}

#bookcoveroption{
  padding: 19px;
  padding-right: -10px;
  border-color: white;
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  /* width: 10vw; */
  height: 70vh; 
  background-color:rgba(255, 255, 255, 0.4)
  
  
  
}

.chck, #imgopt{
  padding: 20px;
}

 #container{
  
  width: 50vw;
  height: 50vh;

  display: inline-block;
}


/* DECORATIONS */

#decoration{
  display: inline-block;
  width: 100%;
}

#pencil{
  width: 7vw;
  /* width: 190px; */
  padding-top: 40%;
  
  margin-left: 10%;
}

#lock{
  width: 13vw;
  padding-top: 80%;
  padding-right: 10%;
}

